################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/MicroProxy/obj
/MicroProxy/bin
/MicroProxy/MicroProxy.csproj.user
/MicroProxy/Properties/PublishProfiles
/MicroProxy/.config
/MicroProxy/Logs
